@tailwind base;
@tailwind components;
@tailwind utilities;

.peer:not([value=""]) ~ label {
  top: -8px !important;
  font-size: 12px !important;
  color: #2563eb !important; /* blue-600 */
}

